.env
.vs

api_responses.json
prompt1.md
prompt_p2.md

/node_modules
/parent_json
/prompts_paraphrase_json
/prompts_testcase_json
/responses_paraphrase_json
/responses_testcase_json
/coding_responses
/output_zip_files
/final_responses
/.idea
